# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# PDM
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582
__pypackages__/

# Environments
.env
.venv
env/
venv/
